.main_navbar_div {
  min-height: 100px;
  background: #2827277e;
  position: relative;
}
.second_navbar_main_div {
  display: flex;
  background: var(--orange-color-header-footer);
  position: absolute;
  /* position: fixed; */
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 80%;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.navbar_items_right_div {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;
}
.navbar_ul {
  display: flex;
  justify-content: space-around;
}
.navbar_ul li {
  font-size: 20px;
  list-style: none;
}
