.contact_us_header_image{
    background-image: url("../../Images/contact-us/contact-us-header.png");
    height: 100vh;
    background-size: 100% 100%;
    background-position: center ;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  position: relative;

}