.contact_us_header_image{
    background-image: url("../../Images/contact-us/contact-us-header.png");
    height: 90vh;
    background-size: cover;
    background-position: center ;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}