.dealer-details {
    color: #fff;
  }
.dealer-details p {
    font-family: var(--Play-font-family);

  }
  
  .dealer {
    background-color: #000000;
    padding: 20px;
    margin-bottom: 20px;
  }
.dealer_details_text{
    color: #000;
    font-family: var(--Playfair-Display-font-family);
    font-size: 30px;
    text-align: center;
}
  
  .dealer_name {
    color: var(--orange-color-header-footer);
  }
  
 
  
  strong {
    color: var(--orange-color-header-footer);

  }
  