.main_dealer_details_div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.dealer-details {
  color: #fff;
  width: 30%;
  text-align: center;
}
.dealer-details p {
  font-family: var(--Play-font-family);
}

.dealer {
  background-color: #000000;
  padding: 20px;
  margin-bottom: 20px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.dealer_details_text {
  color: #000;
  font-family: var(--Playfair-Display-font-family);
  font-size: 30px;
  text-align: center;
  margin: 20px;
}

.dealer_name {
  color: var(--orange-color-header-footer);
}

strong {
  color: var(--orange-color-header-footer);
}
@media (max-width: 1000px) {
  .dealer {
    padding: 15px;
  }
}

@media (max-width: 500px) {
  .dealer-details {
    color: #fff;
    width: 90%;
  }
  .dealer {
    font-size: 18px;
    padding: 10px;
  }
}

