.Home_page_image {
  /* position: relative;/ */
}
.Home_page_image_section {
  height: 100vh;
  background-image: url("../../Images/home/header_image.png");
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
.images_home {
  position: absolute;
  background: var(--dark-gry-color-for-bg);
  border-radius: 20px;
  left: 100px;
  top: 100px;
  padding: 30px;
}
.home_page_cement_image{
    width: 100%;
}