/* background: rgba(81, 81, 81, 255); */
.our-product-main-prerent {
  display: flex;
  justify-content: center;
  font-family: var(--Playfair-Display-font-family);
}
.our-product-left-sanction {
  background: rgba(81, 81, 81, 255);
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding: 50px; */
}
.cement-image-out-product {
  /* height: 20px; */
  /* width: 3px; */
  /* margin-left: 60px; */
}
.out_product_message{
   font-size: 20px; 
}
.our-product-right-sanction {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px;

  background-color: var(--secondary-gry-color);
}
.our-product-text-sanction {
  /* width: 40%; */
  word-spacing: 10px;
  text-align: center;
  padding: 130px;
}
.our-product-text{
  text-align: center;
  font-size: 30px;  
  font-weight: bold;
  
}
