/* background: rgba(81, 81, 81, 255); */
.our-product-main-prerent {
  display: flex;
  justify-content: center;
  font-family: var(--Playfair-Display-font-family);
}
.our-product-left-sanction {
  background: rgba(81, 81, 81, 255);
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding: 50px; */
}

.out_product_message {
  font-size: 20px;
}
.our-product-right-sanction {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px;

  background-color: var(--secondary-gry-color);
}
.our-product-text-sanction {
  /* width: 40%; */
  word-spacing: 10px;
  text-align: center;
  padding: 130px;
}
.our-product-text {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
@media (max-width: 1025px) {
  .our-product-right-sanction {
    padding: 10px;
  }
  .our-product-text-sanction {
    padding: 70px;
  }
  .our-product-left-sanction {
    width: 50%;
  }
}
@media (max-width: 840px) {
  .out_product_message {
    font-size: 17px;
  }
  .our-product-right-sanction {
    padding: 8px;
  }
  .our-product-text-sanction {
    padding: 50px;
  }
}


@media (max-width: 500px) {

.out_product_message {
  font-size: 14px;
}
.our-product-right-sanction {
  padding: 1px;
}
.our-product-text-sanction {
  padding: 10px;
}
.our-product-left-sanction {
  width: 35%;
}
}