.rakarni_main_div {
  height: 100vh;
  background: var(--home-page-gry-color);
  position: relative;
}
.contant_Area_main_div {
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 90%;
}
.small_brush_home_page_image {
  width: 100%;
  padding: 30px;
}
.welcome_to_rakarni_text {
  color: white;
  font-size: 60px;
  letter-spacing: 20px;
  font-family: var(--Playfair-Display-font-family);
  font-weight: bolder;
}
.small_brash_image_div {
  background-image: url("../../Images/home/small_brush.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: end;
  padding: 40px;
}
.small_brush_home_page_image {
  width: 40%;
}
@media (max-width: 1025px) {
  .welcome_to_rakarni_text {
    font-size: 50px;
    letter-spacing: 20px;
  }
}
@media (max-width: 920px) {
  .rakarni_main_div {
    height: 90vh;
  }
  .small_brush_home_page_image {
    width: 45%;
  }
  .small_brash_image_div {
    padding: 20px;
    background-size: cover;
    background-position: center;
  }
}

@media (max-width:500px) {
  .rakarni_main_div {
    height: 60vh;
  }
  .contant_Area_main_div {
    position: absolute;
    bottom: 0;
    left: 60px;
    width: 75%;
  }
  .small_brush_home_page_image {
    width: 100%;
    padding: 0px;
  }
  .welcome_to_rakarni_text {
    font-size: 30px;
    letter-spacing: 10px;
  }
  .small_brash_image_div {
    padding: 40px;
  }
  .small_brush_home_page_image {
    width: 40%;
  }
}