.rakarni_main_div {
  height: 100vh;
  /* background: rgba(81, 81, 81, 255); */
  background: var(--home-page-gry-color);
  position: relative;
}
.contant_Area_main_div {
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 90%;
}
.small_brush_home_page_image {
  width: 100%;
  padding: 30px;
}
.welcome_to_rakarni_text {
  color: white;
  font-size: 60px;
  letter-spacing: 20px;
  font-family: var(--Playfair-Display-font-family);
  font-weight: bolder;

}
