.Rakranibig_mian_div {
  height: 100vh;
  background-image: url("../../Images/home/big_brush.png");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: flex;
  padding: 40px 130px;
  font-family: var(--Playfair-Display-font-family);
}
.left_side_div_of_Rakranibig_main {
  width: 50%;
}
.right_side_div_of_Rakranibig_main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right_side_div_of_Rakranibig_main_boottom {
  word-spacing: 10px;
  letter-spacing: 10px;
}
.Rakranibig_message_div_parent {
  display: flex;
  justify-content: flex-end;
  padding-left: 200px;
}
.Rakranibig_message_div {
  text-align: end;
  font-size: 22px;
  font-weight: 500;
  font-family: var(--Playfair-Display-font-family);
}
.welcome_to_rakarni_text_for_big {
  font-size: 60px;
  letter-spacing: 20px;
  font-family: var(--Playfair-Display-font-family);
  font-weight: bolder;
}

@media (max-width: 1025px) {
  .Rakranibig_mian_div {
    height: 100vh;
    padding: 70px 80px;
    background-size: cover;
  }
  .welcome_to_rakarni_text_for_big {
    font-size: 50px;
  }
  .right_side_div_of_Rakranibig_main_boottom {
    word-spacing: 8px;
    letter-spacing: 8px;
  }
}
@media (max-width: 841px) {
  .welcome_to_rakarni_text_for_big {
    font-size: 45px;
  }
  .Rakranibig_message_div {
    text-align: end;
    font-size: 20px;
    font-weight: 500;
  }
  .Rakranibig_message_div_parent {
    padding-left: 100px;
    text-align: justify;
  }
}

@media (max-width: 500px) {
  .Rakranibig_mian_div {
    height: auto;
    background-size: 100% 100%;
    padding: 30px 15px;
  }
  .left_side_div_of_Rakranibig_main {
    width: 0%;
  }
  .right_side_div_of_Rakranibig_main_boottom {
    word-spacing: 1px;
    letter-spacing: 2px;
  }
  .Rakranibig_message_div_parent {
    display: flex;
    justify-content: center;
    margin: 30px 10px;
    padding-left: 0px;
  }
  .Rakranibig_message_div {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
  }
  .welcome_to_rakarni_text_for_big {
    font-size: 30px;
    letter-spacing: 5px;
    margin-bottom: 30px;
    text-align: center;
  }
}
