.testimonail_main_div{
    background: #919191;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    gap: 30px;
}

.testimonail_card_main{
    background: white;
    border-radius: 20px;
    padding: 40px 0px;
}
.testimmonial_card_top{
    display: flex;
    border-bottom: 2px solid var(--home-page-gry-color);
    padding: 10px 40px;
}
.testimmonial_card_top_image_section{
    width: 30%;
}
.testimmonial_card_top_details_section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}
.testimmonial_card_bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.testimmonial_card_message{
    width: 70%;
    text-align: center;
}