.about_page_headinig_image{
    background-image: url("../../Images/about/about_header.png");
    height: 100vh;
    background-size: cover;
    background-position: center ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_us_header_text{
    font-size: 90px;
    font-weight: 400;
}