.main_product_service_div {
  background-image: url("../../Images/product/product_details_bg.png");
  background-size: 100% 100%;
  /* height: 100vh; */
  display: flex;
  /* justify-content: space-around; */
  justify-content: space-evenly;
  padding: 70px 50px;
  font-family: var(--Playfair-Display-font-family);
}
.product_service_div {
  width: 300px;

  backdrop-filter: blur(10px);
  border-radius: 25px;
  padding: 15px;
  background: var(--light-blur-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.third_div_product_service_div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.product_service_heading {
  font-weight: 800;
  letter-spacing: 1px;
  text-align: center;
}
.product_service_message ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 1322px) {
  .main_product_service_div {
    padding: 70px 30px;
  }
  .third_div_product_service_div {
    width: 100%;
  }
  .product_service_div {
    width: 100%;
    padding: 10px  5px;
    margin: 0px 10px;
  }
  .third_div_product_service_div {
    gap: 30px;
  }

  .product_service_message ul {
    gap: 12px;
    font-size: 15px;
  }
}
@media (max-width: 1000px) {
    .main_product_service_div {
      padding: 50px 3px;
    }
    .third_div_product_service_div {
      width: 100%;
    }
    .product_service_div {
      width: 100%;
      padding: 10px 0px;
      margin: 0px 3px;
    }
    .third_div_product_service_div {
      gap: 20px;
    }
  
    .product_service_message ul {
      gap: 5px;
      font-size: 15px;
      padding-left:  20px;
    }
   
  }
  
