.Product_Header_main {
  background-image: url("../../Images/product/header_image.png");
  height: 100vh;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
}
.about_us_header_image{
  padding: 70px 5px;
}

@media (max-width:501px) {
  .about_us_header_image{
    padding: 5px 2px;
  }
}