.infrastructure_page_headinig_image{
    background-image: url("../../Images/infrastructure/infrastructureHomePage.png");
    height: 100vh;
    background-size: cover;
    background-position: center ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.InfrastructureHeader_header_text {
    font-size: 100px;
    width: 100%;

    text-align: center;
    font-weight: bold;
    letter-spacing: 20px;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}
@media (max-width:1300px) {
    .InfrastructureHeader_header_text {
        font-size: 70px;
        width: 100%;
        letter-spacing: 10px;
    }
}
@media (max-width:950px) {
    .InfrastructureHeader_header_text {
        font-size:60px;
        width: 100%;
        letter-spacing: 7px;
    }
}